<h1>Welcome to Massage Spa website.</h1>
<form method="post" action="/signup">
    <h3>Please enter your email address here:</h3>
        <h3><label for="email">Email Address:</label>
        <input type="text" name="email" id="email"></h3>

    <h3>Please enter your name(first & last) here:</h3>
        <h3><label for="name">Name:</label>
        <input type="text" name="name" id="name"></h3>

    <h3>Please enter your password here:</h3>
        <h3><label for="password">Password:</label>
        <input type="text" name="password" id="password"></h3>

    <input type="submit">    
</form>