<h1>Welcome <%= @massage_spa.name %>.</h1><br>

<ul> 
  <li>You can click <a href="/clients">Here</a> to see all the clients we have.</li><br>
  <li>You can click <a href='/clients/new'>Here</a> to create a new client</li><br>
  </ul>

<form action="/logout" method="get">
  <button type="submit" class="btn" name="submit">Log Out</button>
</form>