<h1>Welcome <>.</h1>

<p>You have the option of clicking <a href="/clients">Here</a> to see all the clients we have or you can clicking <a href='/clients/new'>Here</a> to create a new client.</p>



<form action="/logout" method="get">
  <button type="submit" class="btn" name="submit">Log Out</button>
</form>